<h1 mat-dialog-title>Add Status</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="Status.Title" placeholder="Title" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="Status.Color" placeholder="Color" required>
      <mat-option *ngFor="let color of Colors" [value]="color">
        <div class="color-case" [ngClass]="color" style="display: inline-block"></div><span> {{color}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="right">
  <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="Status" cdkFocusInitial>Save</button>
</div>
