#security-form-wrapper
  background-color: #424242
  display: flex
  flex-direction: column
  align-items: center
  min-height: 100vh
  width 100%
  img
    width: 50%
    height: auto
    @media (max-width: 768px)
      width: 100%
