\:host
  .main-sidenav
    padding: 20px
    padding-top: 50px
    width: 300px
    @media (max-width: 768px)
      width: 100vw

  .main-sidenav-content
    padding-top: 70px

  #side-menu-open-btn
    top: 70px
    left: 20px
    height: 50px
    width: 50px
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    z-index: 99

  #side-menu-close-btn
    text-align: right
    mat-icon
      cursor: pointer
  .main-container
    height: 100vh
  #top-nav
    height: 50px
    position: fixed
    top: 0
    width: 100vw
    z-index: 100

