<div id="top-nav" class="grey-d">

</div>
<mat-drawer-container class="main-container white">
  <mat-drawer #drawer class="main-sidenav grey-d" mode="side">
    <div id="side-menu-close-btn">
      <mat-icon (click)="drawer.toggle()">close</mat-icon>
    </div>
  </mat-drawer>

  <div class="main-sidenav-content">
    <div id="side-menu-open-btn" class="grey-d" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
