\:host
  .status-container
    display: flex
    align-items: flex-start
    position: absolute
    @media (max-width: 768px)
      flex-direction: column
  .status
    min-width: 300px
    margin: 10px
    color: white
    padding: 5px
    >mat-card-title
      padding: 10px
  .task
    min-height: 100px
    margin: 5px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    box-sizing: border-box
    cursor: move
    &:last-child
      border: none
  .task-container
    overflow: hidden
    display: block
    min-height: 100px
    &.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder)
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

  #main-content
    padding: 20px
    position: relative

.cdk-drag-preview
  box-sizing: border-box
  border-radius: 4px
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)
.cdk-drag-placeholder
  opacity: 0

.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)


