<div id="main-content">
  <h1>{{Project.Title}}</h1>

  <button type="button" mat-button color="primary" (click)="openAddStatusDialog()">Add Status</button>
  <div class="status-container">
    <mat-card class="status" [ngClass]="item.Color" *ngFor="let item of Project.StatusList">
      <mat-card-title>{{item.Title}}</mat-card-title>
      <mat-card-content class="task-container"
                        id="task-container-{{item.ID}}"
                        cdkDropList
                        (cdkDropListDropped)="dropTask($event)"
                        [cdkDropListData]="item.Tasks"
                        [cdkDropListConnectedTo]="Project.StatusList.map(statusIdsMap)"
      >
        <mat-card class="task" [ngClass]="item.Color+'-l'" *ngFor="let task of item.Tasks" cdkDrag (click)="openTaskDialog(item, task)">
          <mat-card-title>{{task.Title}}</mat-card-title>
        </mat-card>
      </mat-card-content>
      <mat-card-actions style="text-align: center;margin-bottom: 5px">
        <mat-icon (click)="openTaskDialog(item)" style="cursor: pointer">add</mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



