.google-icon
  height: 30px
  width: auto
.or
  color: grey
  font-size: 12px
#login-form
  width: 30vw
  padding: 30px 50px
  margin-bottom: 10px
  @media (max-width: 768px)
    width: 70vw
.link
  color: white
  &:hover
    text-decoration: underline
