<mat-card id="login-form">
  <form>
    <mat-card-actions class="right">
      <button mat-raised-button
              class="full-width"
              (click)="googleLogin()"><img class="google-icon" src="assets/images/google.png" />Log in with Google</button>
    </mat-card-actions>
    <div class="center">
      <span class="or">OR</span>
    </div>
    <mat-card-content>
      <mat-form-field style="width:100%">
        <input type="email" matInput>
        <mat-label><mat-icon>account_circle</mat-icon> Email</mat-label>
      </mat-form-field>
      <mat-form-field style="width:100%">
        <input type="password" matInput>
        <mat-label><mat-icon>lock</mat-icon> Password</mat-label>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="right" style="margin-bottom:0">
      <button mat-raised-button class="full-width" color="primary">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
<div class="center">
  <div>
    <button mat-button class="link">Forgot Password?</button>
  </div>
  <div>
    <button mat-button class="link">Register</button>
  </div>
</div>
