/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

/*** colors ***/
$red: #f44336
$pink: #e91e63
$purple: #9c27b0
$deep-purple: #673ab7
$indigo: #3f51b5
$blue: #2196f3
$light-blue: #03a9f4
$cyan: #00bcd4
$teal: #009688
$green: #4caf20
$light-green: #8bc34a
$lime: #cddc39
$yellow: #ffeb3b
$amber: #ffc107
$orange: #ff9800
$deep-orange: #ff5722
$brown: #795548
$grey: #9e9e9e
$blue-grey: #607d8b

$red-l: #ef9a9a
$pink-l: #f48fb1
$purple-l: #ce93d8
$deep-purple-l: #b39ddb
$indigo-l: #9fa8da
$blue-l: #90caf9
$light-blue-l: #81d4fa
$cyan-l: #80deea
$teal-l: #80cbc4
$green-l: #a5d6a7
$light-green-l: #c5e1a5
$lime-l: #e6ee9c
$yellow-l: #fff59d
$amber-l: #ffe082
$orange-l: #ffcc80
$deep-orange-l: #ffab91
$brown-l: #bcaaa4
$grey-l: #eeeeee
$blue-grey-l: #b0bec5

$red-d: #c62828
$pink-d: #ad1457
$purple-d: #6a1b9a
$deep-purple-d: #4527a0
$indigo-d: #283593
$blue-d: #1565c0
$light-blue-d: #0277bd
$cyan-d: #00838f
$teal-d: #00695c
$green-d: #2e7d32
$light-green-d: #558b2f
$lime-d: #9e9d24
$yellow-d: #f9a825
$amber-d: #ff8f00
$orange-d: #ef6c00
$deep-orange-d: #d84315
$brown-d: #4e342e
$grey-d: #424242
$blue-grey-d: #37474f

.red
  background-color: $red
.pink
  background-color: $pink
.purple
  background-color: $purple
.deep-purple
  background-color: $deep-purple
.indigo
  background-color: $indigo
.blue
  background-color: $blue
.light-blue
  background-color: $light-blue
.cyan
  background-color: $cyan
.teal
  background-color: $teal
.green
  background-color: $green
.light-green
  background-color: $light-green
.lime
  background-color: $lime
.yellow
  background-color: $yellow
.amber
  background-color: $amber
.orange
  background-color: $orange
.deep-orange
  background-color: $deep-orange
.brown
  background-color: $brown
.grey
  background-color: $grey
.blue-grey
  background-color: $blue-grey
.white
  background-color: white
  color: black
.black
  background-color: black
  color: white

.red-l
  background-color: $red-l
.pink-l
  background-color: $pink-l
.purple-l
  background-color: $purple-l
.deep-purple-l
  background-color: $deep-purple-l
.indigo-l
  background-color: $indigo-l
.blue-l
  background-color: $blue-l
.light-blue-l
  background-color: $light-blue-l
.cyan-l
  background-color: $cyan-l
.teal-l
  background-color: $teal-l
.green-l
  background-color: $green-l
.light-green-l
  background-color: $light-green-l
.lime-l
  background-color: $lime-l
.yellow-l
  background-color: $yellow-l
.amber-l
  background-color: $amber-l
.orange-l
  background-color: $orange-l
.deep-orange-l
  background-color: $deep-orange-l
.brown-l
  background-color: $brown-l
.grey-l
  background-color: $grey-l
.blue-grey-l
  background-color: $blue-grey-l

.red-d
  background-color: $red-d
  color: white
.pink-d
  background-color: $pink-d
  color: white
.purple-d
  background-color: $purple-d
  color: white
.deep-purple-d
  background-color: $deep-purple-d
  color: white
.indigo-d
  background-color: $indigo-d
  color: white
.blue-d
  background-color: $blue-d
  color: white
.light-blue-d
  background-color: $light-blue-d
  color: white
.cyan-d
  background-color: $cyan-d
  color: white
.teal-d
  background-color: $teal-d
  color: white
.green-d
  background-color: $green-d
  color: white
.light-green-d
  background-color: $light-green-d
  color: white
.lime-d
  background-color: $lime-d
  color: white
.yellow-d
  background-color: $yellow-d
  color: white
.amber-d
  background-color: $amber-d
  color: white
.orange-d
  background-color: $orange-d
  color: white
.deep-orange-d
  background-color: $deep-orange-d
  color: white
.brown-d
  background-color: $brown-d
  color: white
.grey-d
  background-color: $grey-d
  color: white
.blue-grey-d
  background-color: $blue-grey-d
  color: white





body
  padding: 0
  margin: 0

.right
  text-align: right
  justify-content: flex-end
.left
  text-align: left
  justify-content: flex-start
.center
  text-align: center
  justify-content: center
.rounded-btn
  border-radius: 50px !important
.full-width
  width: 100%
