<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="Task.Title" placeholder="Title" required>
  </mat-form-field>
  <div class="right">
    <span *ngIf="Task.ID != null" class="delete-link" (click)="deleteTask(Task)">delete</span>
  </div>
</div>
<div mat-dialog-actions class="right">
  <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="Task" cdkFocusInitial>Save</button>
</div>
